*{
    background-color:wheat;
    
}
.logo{
    height: 200px;
    width: 200px;
    position:relative;
    
}
.slogan{
    text-align: center;
    float: right;
    margin: 0;
    font-size: 4.3rem;
}

#description.desc{
    font-size: larger;
    text-align: center;
    margin: 0;
    float: left;
   
}

.Color{
    Color: red;
}

.iphone{
    height: 200px;
    width: 200px;
    border: 5px solid gray;
    float: left;
    margin-right: 10px;
    margin-left: 50px;

}

#firstcontainer{
    display: inline-block;
    font-size: 1.2rem;
    width: 40%;
    margin-top: 100px;
    justify-content: center;
    
}
.specification{
    font-size: 18px;
    padding-left: 3%;
    margin: 0px;
}

.clickme{
    color: blue;
    }



